<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- <div class="autocomplete">
  <div class="chips-input-container">
  <div class="user-chip" *ngFor="let user of userSelects">
    {{user.name}}
    <span (click)="deleteSelects(user)" class="delete-icon-chip">&#10006;</span>
  </div>

  <input name="suggestion" type="text" placeholder="User" (click)="suggest()" [(ngModel)]="userSelectsString">
  </div>

  <div class="autocomplete-items" *ngIf="show">
    <div *ngFor="let s of suggestions" [ngClass]="isSelected(s) ? 'selected-suggestion' : ''" (click)="selectSuggestion(s)">{{ s.name }}</div>
  </div>
</div> -->

