.img{ height: 310px; width: 325px; }
p{  text-align: justify; width: 40%; font-size: 17px; }
span{ color: blue;}
.btn-primary{ color: #1e1d1d; background-color: #a9aeb2; border-color: #e6e9ec;  margin-left: 16px; font-weight: 600; }