.email, .number, .city, .country, .state{ width: 284px;  margin-left: 4px;}
.address{ width: 100%; height: 36px; }
.form-check-input{ margin-left: -19px; }
.modal-header{ background-color: #2c7ec5; }
.modal-title{ color: white; font-size: 17px; font-weight: 500; }
h1{ text-align: initial;}
.mr-sm-2{ width: 87%;}
.form-check-label{ margin-left: 24px; margin-right: 47px; }
.section{ text-align: center; background-color: #e3e1e1;; padding: 80px; width: 100%;}
hr{ width: 114px; border-top: 4px solid #2c7ec5;}
.section button{border: 1px solid #2c7ec5;}
.section p{width: 70%; margin-left: 138px;}
footer{ height: 90px; background-color:#e3e1e1 ;padding-top: 60px; text-align: center;}
.jobseeker{ background-color: #100f0f; color: white;width: 100%; margin-top: -10px; padding: 116px; text-align: center;}
.icons{ margin-right: 15px;}
.carousel{margin-top: -20px;}
.w-100{height: 413px;}